#app {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#container {
  display: flex;
  justify-content: space-between;
  align-self: start;
}

h2 {
  padding-left: 50px;
}

#upcoming li{
  padding-right: 30px;
  border: 2px solid black;
}

li{
  width: 300px;
  list-style-type: none;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
}

section form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-left: 30px ;
}